<button (click)="disableNames()">disable names</button>
<span>&nbsp;</span>
<button (click)="disableDates()">disable dates</button>
<br><br>

<!-- Reactive form -->
<form [formGroup]="myForm">

  <div class="form-group">
    <label>
      <span>My Name</span>
      <input class="form-control" formControlName="myName">
    </label>
  </div>

  <div class="form-group">
    <label>
      <span>My Date</span>
      <app-custom-my-date-picker formControlName="myDate" [options]="datePickerOptions"></app-custom-my-date-picker>
    </label>
  </div>

  <div class="form-output">
    <div class="form-title">Reactive Form</div>
    <div>value = {{ myForm.value | json }}</div>
    <div>valid = {{ myForm.valid ? 'valid' : 'invalid' }}</div>
    <br>
    <div>myName.touched = {{ myName.touched }}</div>
    <div>myName.dirty = {{ myName.dirty }}</div>
    <div>myName.disabled = {{ myName.disabled }}</div>
    <br>
    <div>myDate.touched = {{ myDate.touched }}</div>
    <div>myDate.dirty = {{ myDate.dirty }}</div>
    <div>myDate.disabled = {{ myDate.disabled }}</div>
  </div>
</form>

<br>

<!-- Template driven form -->
<form #myForm2="ngForm">

  <div class="form-group">
    <label>
      <span>My Name 2</span>
      <input class="form-control" #myName2="ngModel" name="myName2" required
             [(ngModel)]="myForm2Data.myName2" [disabled]="myNameDisabled">
    </label>
  </div>

  <div class="form-group">
    <label>
      <span>My Date 2</span>
      <app-custom-my-date-picker #myDate2="ngModel" name="myDate2" required
                                 [(ngModel)]="myForm2Data.myDate2" [disabled]="myDateDisabled" [options]="datePickerOptions"></app-custom-my-date-picker>
    </label>
  </div>

  <div class="form-output">
    <div class="form-title">Template driven Form</div>
    <div>value = {{ myForm2.value | json }}</div>
    <div>valid = {{ myForm2.valid ? 'valid' : 'invalid' }}</div>
    <br>
    <div>myName.touched = {{ myName2.touched }}</div>
    <div>myName.dirty = {{ myName2.dirty }}</div>
    <div>myName.disabled = {{ myName2.disabled }}</div>
    <br>
    <div>myDate2.touched = {{ myDate2.touched }}</div>
    <div>myDate2.dirty = {{ myDate2.dirty }}</div>
    <div>myDate2.disabled = {{ myDate2.disabled }}</div>
  </div>
</form>
